@charset "UTF-8";

.introduction {
  margin-bottom: 4em;
}
.introduction>p {
  font-size: 1em;
  color: #222222;
  line-height: 1.5em;
}
/* 研究方向 */
.research-container .research-panel {
  margin-bottom: 1.5em;
}
.research-container .research-panel>header {
  padding-bottom: 12px;
  font-size: 1.125em;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  line-height: 1;
  color: #015db2;
}
.research-container .research-panel>.panel-body {
  padding-top: 18px;
}
.research-container .research-panel>.panel-body>p{
  margin: 0;
  line-height: 1.5;
  color: #444;
}
.research-container .research-panel>.panel-footer {
  padding-top: 1em;
}
.research-container .research-panel>.panel-footer>.more{
  text-align: right;
}
.research-container .research-panel>.panel-footer>.more>a {
  display: inline-block;
  font-size: 0.875em;
  color: #015db2;
}
.research-container .research-panel>.panel-footer>.more>a:after{
  display: inline-block;
  content: '';
  background: url(/images/more2.png);
  -webkit-background-size: contain;
  background-size: contain;
  width: 0.875em;
  height: 0.875em;
  float: right;
}
.research-container .research-footer {
  margin-top: 4em;
  padding: 0 0.5em;
  width: 100%;
  height: 16em;
}
.research-container .research-footer>img {
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

