# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/**
webmagic-admin/.classpath
webmagic-admin/.project
webmagic-admin/.settings/
webmagic-admin/target/
webmagic-api/.classpath
webmagic-api/.project
webmagic-api/.settings/
webmagic-api/src/
webmagic-api/target/
webmagic-dao/.classpath
webmagic-dao/.project
webmagic-dao/.settings/
webmagic-dao/src/test/
webmagic-dao/target/
webmagic-model/.classpath
webmagic-model/.project
webmagic-model/.settings/
webmagic-model/src/
webmagic-model/target/
webmagic-service/.classpath
webmagic-service/.project
webmagic-service/.settings/
webmagic-service/src/main/resources/
webmagic-service/src/test/
webmagic-service/target/
webmagic-util/.classpath
webmagic-util/.project
webmagic-util/.settings/
webmagic-util/src/main/resources/
webmagic-util/src/test/
webmagic-util/target/
webmagic-web/.classpath
webmagic-web/.project
webmagic-web/.settings/
webmagic-web/src/test/
webmagic-web/target/
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-10-29
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-10-31
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-11-06
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-11-07
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-11-10
webmagic-admin/myspaceGitRepertorywebmagicsrcmainwebappdfgg.log.2018-11-13
webmagic-web/src/main/webapp/uploads/avatar/32455e5e-958b-4e6f-b0d8-35d26f8b7d3bu=733624848,3582554596&fm=27&gp=0.jpg
webmagic-web/src/main/webapp/uploads/avatar/714ef9ec-06e8-496b-ba75-ad4d9761c235u=733624848,3582554596&fm=27&gp=0.jpg
webmagic-web/src/main/webapp/uploads/avatar/7f4c8070-a6e3-48f4-bc19-9dbc6b9245a6u=1686240325,3027046160&fm=26&gp=0.jpg
/webmagic-dao/src/main/resources/jdbc.properties
/.idea/misc.xml
/.idea/modules.xml
/.idea/artifacts/webmagic_admin_war_exploded.xml
.idea/artifacts/webmagic_admin_war_exploded.xml
*.xml
.idea/artifacts/webmagic_web_war_exploded.xml
*.xml
*.iml
*.iml
