@charset "UTF-8";
/** 浏览器兼容性修复 */
html {
  line-height: 1; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body{
    font-size: 16px;
  }
body {
  font-family: 'Microsoft Yahei',"Arial","Lucida Grande", "Tahoma", "Helvetica", "sans-serif";
}
a {
  text-decoration: none;
  background-color: transparent;/** Remove the gray background on active links in IE 10. */
  cursor: pointer;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/** 自增样式 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
  
}

/** 页面公共样式  */
.top-header {
  height: 5em;
}
.top-header .h-center {
  position: relative;
  height: inherit;
  margin: 0 auto;
}
.top-header .h-center .h-logo {
  float: left;
  width: auto;
  height: 4em;
  margin: 0.5em 0;
}
.top-header .h-center .h-logo>img {
  width: auto;
  height: 100%;
}
.top-header .h-center .h-nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.5em;
  z-index: 0;
}
.h-nav {
  display: inline-block;
  font-size: 1em;
}
.h-nav ul {
  display: inline-block;
  list-style: none;
}
.h-nav ul>li {
  float: left;
  margin-right: 1em;
  line-height: 1em;
}
.h-nav ul>li:last-child {
  margin-right: 0;
}
.h-nav ul>li>a {
  color: #222;

}
.h-nav ul>li>a:hover,
.h-nav ul>li.active>a {
  color: #015db2;
}

.container,
.nav-panel>.nav-center{
  width: 1120px;
  margin: 0 auto;
}
.container.top-margin{
  margin-top: 4em;
}
.nav-panel {
  height: 18em;
}
.nav-panel>.nav-center {
  position: relative;
  height: 100%;
  color: #fff;
}
.nav-panel>.nav-center .nav-title {
  position: absolute;
  bottom: 61.8%;
  margin-top: -0.75em;
  font-size: 1.5em;
}
.nav-panel>.nav-center .nav-title>span{
  float: left;
  line-height: 40px;
}
.nav-panel>.nav-center .nav-title .label {
  margin-right: 3px;
  font-size: 1.5em;
  font-weight: 100;
}
.nav-panel>.nav-center .nav-h2 {
  position: absolute;
  bottom: 38.1924%;
  margin-top: -1.1em;
  font-size: 2.2em;
}
.nav-panel>.nav-center .nav-span {
  position: absolute;
  bottom: 10.6029032%;
  font-size: 1em;
}
.nav-panel>.nav-center .nav-span>a {
  float: left;
  margin-right: 5px;
  color: #eee;
}
.nav-panel>.nav-center .nav-span>a.dot {
  margin-top: -1.5px;
}
.nav-panel.nav-teamMember {
  background: url("/images/teamMemberNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-courseTeaching {
  background: url("/images/courseTeachingNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-researchDirection {
  background: url("/images/researchDirectionNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-thesis {
  background: url("/images/thesisNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-project {
  background: url("/images/projectNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-news {
  background: url("/images/newsNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-admission{
  background: url("/images/admissionNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-panel.nav-dataCode{
  background: url("/images/dataCodeNav.jpg") no-repeat 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer {
  height: 12em;
  margin-top: 5em;
  background: url("/images/footer-bg.jpg") center;
  color: #fff;
  font-size: 1em;
}
.footer>.container {
  height: 100%;
  padding-top: 2em;
}
.footer>.container .f-info {
  position: relative;
  height: 7em;
}
.f-info .f-logo {
  position: relative;
  top: 50%;
  margin-top: -35px;
  float: left;
  width: 250px;
  height: 70px;
}
.f-info .f-logo>img {
  width: 100%;
  height: 100%;
}
.f-info .addr {
  position: relative;
  top: 50%;
  margin: -35px 2px 0 0;
  padding: 10px 0;
  float: right;
}
.f-info .addr>p {
  margin: 0.5em 0;
  text-align: right;
}
.f-info .addr>p:last-child {
  margin-bottom: 0;
}
.footer>.container .copyright {
  height: 3em;
  border-top: 1px solid rgba(255,255,255,0.4);
  text-align: center;
}
.footer>.container .copyright>p {
  line-height: 3em;
}


.condition .c-row {
  margin-bottom: 1em;
}
.condition .c-row>.name{
  float: left;
}
.condition .c-row>ul {
  margin: 0 0 0 3em;
  list-style: none;
}
.condition .c-row>ul>li{
  float: left;
  padding-left: 2em;
  padding-bottom: 1em;
  color: #222;
  cursor: pointer;
}

.condition .c-row>ul>li.active,
.condition .c-row>ul>li:hover {
  color: #015db2;
}

@media screen and (max-width:1400px) {
  body{
    font-size: 14px;
  }
  .container,
  .nav-panel>.nav-center{
    width: 980px;
  }
}
