@charset "UTF-8";
/* 新闻资讯 */
.news-container .news-list {
}
.news-container .news-list>.news-panel {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 2em;
}
.news-container .news-list>.news-panel:nth-child(3n+3){
  margin-right: 0;
}
.news-container .news-list>.news-panel>.news-img {
  width: 100%;
  height: auto;
}
.news-container .news-list>.news-panel>.news-img>img{
  width: 100%;
  height: auto;
}

.news-container .news-list>.news-panel>h4 {
  height: 3em;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  line-height: 1.5;
  font-weight: normal;
  color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.news-container .news-list>.news-panel>.panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.1em 0;
}
.news-container .news-list>.news-panel .time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  color: #666;
}
.news-container .news-list>.news-panel .time>.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  background: url("/images/time-logo.png") no-repeat center;
  background-size: contain;
}
.news-container .news-list>.news-panel .news-label {
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em;
}
.news-label.type1 {
  background: #0070bc;
}
.news-label.type2 {
  background: #2db4d4;
}
